.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;

  outline: 2px solid var(--outlain-for-layout);
}

.hero-container {
  width: 696px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;

  color: #ffffff;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  border-radius: 4px;
  padding: 10px 32px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-btn-color);
  background-color: var(--selection-text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--hero-btn-color);
    color: #188ce8;
  }
}
