:root {
  --header-text-color: #212121;
  --list-text-color: #757575;
  --selection-text-color: #2196f3;
  --hero-btn-color: #ffffff;
  --portfolio-btn-color: #f5f4fa;
  --icon-link-color: #afb1b8;
  /* --outlain-for-layout: tomato; */
}
